<div class="sw_boxheader"><h2>Search</h2></div>
<div class="sw_searchbox">
<form name="search" action="{$P_SEARCH}" method="GET">


<div id="sw_searchform">
	<input id="sw_searchterm" name="q" value="{$sSearchTerm}">&nbsp;&nbsp;

		{html_options name=c options=$aTopLevelCats selected=$sOptionSelected}

	<input id="sw_searchbutton" type="image" name="search" src="{$templatePath}/images/search_button.gif" />

</div>
</form>


{include file="elements`$DIRECTORY_SEPARATOR`keyword_suggestions.tpl"}
{include file="elements`$DIRECTORY_SEPARATOR`category_suggestions.tpl"}


<div class="sw_productdivider"></div>
</div>