<table cellpadding="0" cellspacing="0">
<tr>
<td>
    <a href="{$P_INDEX}" title="Return to {#siteTitle#} home page"><img src="{$templatePath}/images/sw_logo.gif" alt="{#siteTitle#}" title="{#siteTitle#}" /></a>
</td>

</tr>
</table>