<div class="sw_searchbox">
<form name="search" action="{$P_SEARCH}" method="GET">

<h2>Search</h2>
<span id="sw_searchform">
	<input id="sw_searchterm" name="q" value="{$sSearchTerm}">&nbsp;&nbsp;

		{html_options name=c options=$aTopLevelCats selected=$sOptionSelected}

	<input id="sw_searchbutton" type="submit" name="search" value="Search" />

</span>
</form>

{include file="elements`$DIRECTORY_SEPARATOR`keyword_suggestions.tpl"}
{include file="elements`$DIRECTORY_SEPARATOR`category_suggestions.tpl"}

</div>