/* General styles */

body {
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	color: #666;
	text-align: left;
}

td {
	font: normal 10px Verdana, Arial, Helvetica, sans-serif;
	color: #666;
	text-align: left;
}

th {
	font: bold 11px Verdana, Arial, Helvetica, sans-serif;
	color: #000;
}

a:link, a:visited {
	text-decoration: none;
	color: #060;
}

a:hover {
	text-decoration: underline;
	color: #090;
}

h2 {
	font: bold 14px Verdana, Arial, Helvetica, sans-serif;
	color: #333;
	margin-top: 0;
}

img {
	border: none;
}

form {
	display: inline;
}

#sw_breadcrumb {
	margin: 10px 0;
	clear: both;
	position: relative;
}

#sw_breadcrumb a {
	text-decoration: underline;
	color: #333;
}

#sw_frame {
	margin-right:auto;
	margin-left:auto;
	padding:0px;
	text-align:left;
}

.sw_spacer {
	clear: both;
	height: 2px;
}

/* the following styles position the navigation to the left and content on the right */

#sw_nav {
	float: left;
	width: 180px;
}

#sw_container {
	float: right;
	vertical-align: top;
	width: 100%;
	margin: 0;
	margin-left: -180px;
}

#sw_content {
	margin: 0;
	margin-left: 190px;
	vertical-align: top;
}
	
/* Shared elements. All main components use this formatting*/

.sw_searchbox, .sw_hotpicks, .sw_featuredmerch, .sw_cats {
	clear: both;
	background: #cfc url(../images/rounded_bg_bl.gif) no-repeat bottom left;
	border: none;
	padding: 0;
	margin-bottom: 10px;
	position: relative;
}

.sw_boxheader {
	clear: both;
	background: #090 url(../images/rounded_bg_tl.gif) no-repeat top left;
	border-bottom: 1px solid #fff;
	padding: 0 0 0 10px;
	position: relative;
	margin-bottom: 0;
}

.sw_boxheader h2 {
	font: bold 14px Verdana, Arial, Helvetica, sans-serif;
	background: transparent url(../images/rounded_bg_tr.gif) no-repeat top right;
	color: #fff;
	padding-top: 8px;
	margin-top: 0;
	margin-bottom: 6px;
}



.sw_hotpicks ul, .sw_featuredmerch ul, .sw_cats ul {
	list-style-type: none;
	margin: 0;
	margin-left: 0;
	padding: 10px 6px 0 10px;
}

.sw_productdivider {
	clear: both;
	display: block;
	height: 8px;
	background: transparent url(../images/rounded_bg_br.gif) no-repeat bottom right;
}


/* Search box styling */

.sw_searchbox select {
	height: 18px;
	font: normal 10px Verdana, Arial, Helvetica, sans-serif;
	color: #999;
}

#sw_searchform {
	vertical-align: top;
	padding: 10px;
}

#sw_searchform select {
	height: 18px;
	width: 210px;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	color: #666;
	padding: 0;
	margin: 0;
}


input#sw_searchterm {
	width: 278px;
	height: 20px;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	color: #666;
	display: inline;
}

input#sw_searchbutton {
	position: relative;
	left: 8px;
	top: 0px;
	vertical-align: top;
}

.sw_searchsuggestion {
	border: 1px dashed #090;
	padding: 8px;
	margin: 4px 10px 10px 10px;
	font-size: 12px;
	font-weight: bold;
}

.sw_searchsuggestion h3 {
	margin: 0;
	display: inline;
	color: #c00;
	font-size: 12px;
}

.sw_searchsuggestion p {
	margin: 0;
	display: inline;
}

.sw_searchsuggestion ul {
	margin: 6px 0;
	padding: 0;
}

.sw_searchsuggestion ul li {
	display: inline;
	margin: 0;
	margin-right: 10px;
	padding: 0;
}

.refineby {
	margin: 10px 0;
	position: relative;
	width: 100%;
}


.refineby h3 {
	margin: 0;
	margin-top: 10px;
	font-size: 14px;
}

.refineby table {
	border-collapse: collapse;
	width: inherit;
}
	

.refineby td, .refineby th {
	border: 1px solid #090;
	background-color: #fff;
	padding: 6px;
	font-size: 12px;
	vertical-align: top;

}

.refineby th {
	background-color: #cfc;
}

.refineby a#clear {
	font-size: 10px;
	color: #666;
}


/* Hot Picks styling */

.sw_hotpicks {
	height: auto;
	width: 100%;
}

.sw_hotpicks h3 {
	font-weight: bold;
	font-size: 11px;
}

.sw_hotpicks li {
	float: left;
	width: 232px;
	padding: 10px;
}

.sw_hotpicks span {
	float: left;
 	width: 100px;
 	height: 100px;
}
 
.sw_hotpicks img {
 	margin-right: 10px;
}

/* Featured Merchants */

.sw_featuredmerch li {
	margin-bottom: 10px;
	border-bottom: 1px dotted #fff;
	padding-bottom: 8px;
}


#sw_featuredtext {
	margin: 0;
}

#sw_featuredtext h4 {
	margin: 0;
	font: bold 11px Verdana, Arial, Helvetica, sans-serif;
}


/* Category listing styles */

.sw_cats li {
	margin-bottom: 12px;
}

.sw_cats h3 {
	font-size: 11px;
	font-weight: bold;
	margin: 0;
}

.sw_cats h4 {
	font-size: 11px;
	font-weight: bold;
	margin: 0 0 4px 0;
}


/* styles for product listing pagination */

#sw_resultsheader {
	text-align: center;
	font-weight: bold;
	margin: 20px 0;
	clear: both;
	position: relative;
}

#sw_resultsheader select {
	color: #fff;
	background-color: #090;
	border: 1px solid #ccc;
	font: normal 10px Verdana, Arial, Helvetica, sans-serif;
	vertical-align: middle;

}

#sw_prodsperpage {
	float: left;
	margin-right: 20px;
}

#sw_sortby {
	float: right;
	margin-left: 20px;
}

#sw_pagination {
	font-weight: bold;
	text-align: center;
}


/* product listing styles */

.sw_productlist ul {
	list-style-type: none;
	margin: 0;
	margin-left: 0;
	padding-left: 0;
	position: relative;
}

.sw_productlist h3, .sw_productdesc h3 {
	font: bold 12px Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

td.sw_productlisttop {
	border-collapse: collapse;
	padding: 5px;
	width: 50%;
	vertical-align: top;
}

td.sw_productlistmain {
	background-color: #cfc;
	border-collapse: collapse;
	vertical-align: top;
	padding: 0;
	margin: 10px;
}

td.sw_productlistbottomleft {
	border-collapse: collapse;
	padding: 0;
	background: #cfc url(../images/rounded_bg_bl.gif) no-repeat bottom left;
	height: 8px;
}

td.sw_productlistbottomright {
	border-collapse: collapse;
	padding: 0;
	background: #cfc url(../images/rounded_bg_br.gif) no-repeat bottom right;
	height: 8px;
}



/* Style added as hack for IE6 which has issues with floated elements and background images.  IE ignores following style. */
html>body li.sw_productentry {
	height: auto;
}

.sw_productphoto {
	display: block;
	float: left;
	margin: 0;
	padding: 10px;
	border: none;
	background: transparent url(../images/rounded_bg_tl.gif) no-repeat top left;
}

.sw_productdesc {
	margin: 0;
	padding: 10px;
	background: transparent url(../images/rounded_bg_tr.gif) no-repeat top right;
}

.sw_productdesc p {
	clear: both;
	margin: 0;
	font: normal 12px Verdana, Arial, Helvetica, sans-serif;
}

.sw_productdesc ul {
	list-style-type: square;
	margin: 0;
	background-color: transparent;
}

.sw_productdesc ul li {
	background: none;
	margin-left: 18px;
	padding-left: 2px;
}

.sw_productcat {
	font-size: 10px;
}

.sw_productcat a {
	text-decoration: underline;
}

.sw_productlogo {
	display: block;
	float: right;
}



.sw_productbuy {
	display: block;
	font: bold 14px Arial, Verdana, Helvetica, sans-serif;
	vertical-align: top;
	margin: 10px 0;
}

.sw_productbuy img{
	margin-left: 10px;
}

.sw_error {
	clear: both;
	background: #fff url(../images/warning_icon.gif) no-repeat top left;
	padding-left: 60px;
	height: 50px;
	font-size: 12px;
	margin: 18px 0;
}


.sw_error h3 {
	font-size: 12px;
	color: #f00;
	margin: 0;
}


/* footer */

#sw_footer {
	clear: both;
	margin: 10px 0;
	padding: 6px 0;
	border-top: 1px solid #090;
	position: relative;
}