/* General styles */

body {
	font: normal 12px Arial, Verdana, Helvetica, sans-serif;
	color: #333;
	text-align: left;
}

td {
	font: normal 10px Verdana, Arial, Helvetica, sans-serif;
	color: #666;
	text-align: left;
}

th {
	font: bold 11px Verdana, Arial, Helvetica, sans-serif;
	color: #000;
}

a:link, a:visited {
	text-decoration: none;
	color: #060;
}

a:hover {
	text-decoration: underline;
	color: #393;
}

h2 {
	font: bold 14px Arial, Verdana, Helvetica, sans-serif;
	color: #333;
	margin-top: 0;
}

img {
	border: none;
}

form {
	display: inline;
}

#sw_breadcrumb {
	margin: 10px 0;
	clear: both;
}

#sw_breadcrumb a {
	text-decoration: underline;
	color: #333;
}

#sw_frame {
	margin-right:auto;
	margin-left:auto;
	padding:0px;
	text-align:left;	
}

/* the following styles position the navigation to the left and content on the right */

#sw_nav {
	float: left;
	width: 180px;
}

#sw_container {
	float: right;
	vertical-align: top;
	width: 100%;
	margin: 0;
	margin-left: -180px;
}

#sw_content {
	margin: 0;
	margin-left: 190px;
}
	
/* Shared elements. All main components use this formatting*/

.sw_hotpicks, .sw_featuredmerch, .sw_cats {
	clear: both;
	background: #ffffff url(../images/box_bg.gif) repeat-x top;
	border: 1px solid #b8e0be;
	padding: 10px;
	margin-bottom: 10px;
	position: relative;
}

.sw_hotpicks ul, .sw_featuredmerch ul, .sw_cats ul {
	list-style-type: none;
	margin: 0;
	margin-left: 0;
	padding-left: 0;
}

/* Search box styling */

.sw_searchbox {
/*	clear: both;*/
	background: #ffffff url(../images/box_bg.gif) repeat-x top;
	border: 1px solid #b8e0be;
	padding: 50px;
	text-indent: 20px;
	margin: -5px;
	margin-top:-10px;
	margin-bottom: 10px;
	/*text-align:center;*/
	
}

.sw_searchbox select {
	height: 18px;
	font: normal 10px Verdana, Arial, Helvetica, sans-serif;
	color: #999;
}

#sw_searchform {
	vertical-align: top;
	display: inline;
}

#sw_searchbox h2 {
	font: bold 14px Arial, Verdana, Helvetica, sans-serif;
	color: #333;
	margin: 0;
	padding: 0;
}

#sw_searchform select {
	height: 18px;
	width: 210px;
	font: normal 12px Arial, Verdana, Helvetica, sans-serif;
	color: #666;
	padding: 0;
	margin: 0;
	margin-right: 8px;
}


input#sw_searchterm {
	width: 278px;
	height: 20px;
	font: normal 12px Arial, Verdana, Helvetica, sans-serif;
	color: #666;
	display: inline;
}

.sw_searchsuggestion {
	border: 1px dashed #ccc;
	padding: 8px;
	margin: 6px 0;
	font-size: 12px;
	font-weight: bold;
}

.sw_searchsuggestion h3 {
	margin: 0;
	display: inline;
	color: #c00;
	font-size: 12px;
}

.sw_searchsuggestion p {
	margin: 0;
	display: inline;
}

.sw_searchsuggestion ul {
	margin: 6px 0;
	padding: 0;
}

.sw_searchsuggestion ul li {
	display: inline;
	margin: 0;
	margin-right: 10px;
	padding: 0;
}

.refineby {
	margin: 10px 0;
	position: relative;
	width: 100%;
}


.refineby h3 {
	margin: 0;
	margin-top: 10px;
	font-size: 14px;
}

.refineby table {
	border-collapse: collapse;
	width: inherit;
}
	

.refineby td, .refineby th {
	border: 1px solid #b8e0be;
	background-color: #fff;
	padding: 6px;
	font-size: 12px;
	vertical-align: top;

}

.refineby th {
	background-color: #e3f3e6;
}

.refineby a#clear {
	font-size: 10px;
	color: #666;
}


/* Hot Picks styling */

.sw_hotpicks {
	height: 1%;
	min-height: 120px;
}

/* Style added as hack for IE6 which has issues with floated elements and images.  IE ignores following style. */
html>body .sw_hotpicks {
	height: auto;
}

.sw_hotpicks h2 {
	font: bold 14px Arial, Verdana, Helvetica, sans-serif;
	color: #333;
	margin: 0;
	padding: 0;
}

.sw_hotpicks h3 {
	font-weight: bold;
	font-size: 12px;
}


.sw_hotpicks li {
	float: left;
	width: 232px;
	padding: 10px;
}

.sw_hotpicks span {
	float: left;
 	width: 100px;
 	height: 100px;
}
 
.sw_hotpicks img {
 	margin-right: 10px;
	border: 1px solid #b8e0be;
}

.sw_hotpicks div {
	clear: both;
	height: 1px;
}


/* Featured Merchants */


.sw_featuredmerch h3 {
	font: bold 14px Arial, Verdana, Helvetica, sans-serif;
	margin-top: 0;
}

.sw_featuredmerch li {
	margin-bottom: 10px;
	border-bottom: 1px dotted #b8e0be;
	padding-bottom: 8px;
}

.sw_featuredmerch img {
	border: 1px solid #b8e0be;
}

#sw_featuredtext {
	margin: 0;
}

#sw_featuredtext h4 {
	margin: 0;
	font: bold 12px Arial, Verdana, Helvetica, sans-serif;
}

/* Category listing styles */


.sw_cats li {
	margin-bottom: 12px;
}

.sw_cats h3 {
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

.sw_cats h4 {
	font-size: 12px;
	font-weight: bold;
	margin: 0 0 4px 0;
}

/* styles for product listing pagination */

#sw_resultsheader {
	text-align: center;
	font-weight: bold;
	margin: 20px 0;
	clear: both;
}

#sw_resultsheader select {
	color: #333;
	background-color: #b8e0be;
	border: 1px solid #ccc;
	font: normal 10px Verdana, Arial, Helvetica, sans-serif;
	vertical-align: middle;

}

#sw_prodsperpage {
	float: left;
	margin-right: 20px;
}

#sw_sortby {
	float: right;
	margin-left: 20px;
}

#sw_pagination {
	font-weight: bold;
	text-align: center;
}


/* product listing styles 

ul.productlist {
	list-style-type: none;
	margin: 0;
	margin-left: 0;
	padding-left: 0;
}*/

.sw_productlist ul {
	list-style-type: none;
	margin: 0;
	margin-left: 0;
	padding-left: 0;
	position: relative;
}

.sw_productlist h3, .sw_productdesc h3 {
	font: bold 12px Arial, Verdana, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

.sw_productdesc p {
	font: normal 12px Arial, Verdana, Helvetica, sans-serif;
}

li.sw_productentry {
	background: #ffffff url(../images/product_bg.gif) repeat-x top;
	position: relative;
	clear: both;
	height: 1%;
	min-height: 100px;
	width: auto;
	vertical-align: top;
	border: 1px solid #e3f3e6;
	padding: 10px;
	margin-bottom: 10px;
}

/* Style added as hack for IE6 which has issues with floated elements and background images.  IE ignores following style. */
html>body li.sw_productentry {
	height: auto;
}

.sw_productphoto {
	display: block;
	float: left;
	margin-right: 10px;
	border: 1px solid #e3f3e6;
}

.sw_productdesc {
	margin: 0;
}

.sw_productdesc ul {
	list-style-type: square;
	margin: 0;
}

.sw_productdesc ul li {
	background: none;
	margin-left: 18px;
	padding-left: 2px;
}

.sw_productcat {
	font-size: 10px;
}

.sw_productcat a {
	text-decoration: underline;
}

.sw_productlogo {
	display: block;
	float: right;
}

.sw_productdivider {
	clear: right;
	display: block;
	height: 1px;
}

.sw_productbuy {
	float: right;
	font: bold 14px Arial, Verdana, Helvetica, sans-serif;
	vertical-align: top;
}

.sw_productbuy img{
	margin-left: 10px;
}

.sw_error {
	clear: both;
	background: #fff url(../images/warning_icon.gif) no-repeat top left;
	padding-left: 60px;
	height: 50px;
	font-size: 12px;
	margin: 18px 0;
}


.sw_error h3 {
	font-size: 12px;
	color: #f00;
	margin: 0;
}


/* footer */

#sw_footer {
	clear: both;
	margin: 10px 0;
	padding: 6px 0;
	border-top: 1px solid #b8e0be;
}